{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "prettier",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".js", ".ts", "tsx", ".jsx"]
      }
    }
  },
  "parser": "@typescript-eslint/parsers",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    },
    "ecmaVersion": 12
  },
  "plugins": ["prettier", "react-hooks", "simple-import-sort"],
  "rules": {
    "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never" } ],
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    "no-param-reassign": 0,
    "react/prop-types": 1,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0,
    "react/display-name": "off",
    "import/order": 0,
    "no-console": 1,
    "prefer-destructuring": 0,
    "no-shadow": 0,
    "no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    
  }
}
